.wrapper
  = render partial: "chat-side"
  .chat-main
    .main-header
      .left-box
        .left-box__current-group
          = @group.name
        %ul.left-box__member-list
          Member：
          - @group.group_users.each do |group|
            %li.member
              = group.user.name
      .main-header__edit-btn
        = link_to edit_group_path(@group) do
          Edit
    .messages
      = render partial: "message", collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__input-box', placeholder: 'type a message'
        = f.label :image, class: 'form__image' do
          = fa_icon "picture-o", class: "icon"
          = f.file_field :image, class: 'hidden'
        =f.submit 'Send', class: 'form__submit'